html {
  font: 100% "Montserrat", sans-serif;
  background-color: #f05b62;
}

header {
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Pacifico", cursive;
  font-size: 3em;
  padding: 2rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #333333;
  text-align: center;
}

main {
  text-align: center;
}
main p {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  ling-height: 1.5rem;
  margin-top: 20px;
}

input[type="number"], input[type="submit"] {
  background-color: #fff;
  color: #333;
  border: none;
}

.paragraph-number {
  min-height: 2rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  font-family: monospace;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
  outline: none;
  margin-right: 15px;
  margin-top: 20px;
}

.generate-button {
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
  cursor: pointer;
}

.generated-text {
  background-color: rgba(255, 255, 255, 0.85);
  background-image: url(../img/circle-gdi-logo.png);
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-position: center;
  color: #000;
  min-height: 550px;
  max-width: 68%;
  margin: 30px auto;
  border-radius: 10px;
  padding: 20px;
}

.generated-text p {
  font-size: 1.2rem;
  padding: 7px 15px;
  text-align: left;
  line-height: 1.3rem;
  font-family: monospace;
}

footer {
  position: relative;
  bottom: 0;
  margin: 0 auto;
}

footer p {
  width: 95vw;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  padding: 20px;
  text-align: center;
}
